<div class="question">
  <h3> <%= @question %></h3>
  <p>- You</p>
</div>
<br>
<div class="answer">
<h3> <%= @answer %></h3>
<p>- Coach</p>
</div>

<p class="next"><%= link_to 'Ask a new question', ask_path %></p>
